body.dark {
  --bg-color: #1e1e1e;
  --text-color: #cfcfcf;
  --border-color: rgba(255, 255, 255, 0.1);
  --sidebar-bg: rgba(255, 255, 255, 0.05);
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark .menu-item:hover,
body.dark .menu-dropdown-item:hover,
body.dark .fav-item:hover,
body.dark .fav-card:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
